
<form action="/display" method ="POST">

Both buttons take you back to the main page, but Reset 
erases the database
<br/>
  <a href="/index"><button type ="button">Return</button></a>
  <button type="submit" value = "Reset" formmethod = "post" formaction = "/reset">Reset</button>
</form>

{% for item in items %}
  <p> {{ item.open_times}} <p>
  <p> {{ item.close_times}} <p>
{% endfor %}
